<html>

<head>
</head>

<body>
  <style type="text/css">
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <script>
    function toggleArriveDate() {
      if (document.getElementById("arrive_date").style.visibility == "hidden") {
        document.getElementById("arrive_date").style.visibility = "visible";
      } else {
        document.getElementById("arrive_date").style.visibility = "hidden";
      }
    }
  </script>
  <br>
  <a href="/track_spending">Track my spending</a>
  <a href="/logout">Logout</a>
  <a href="/remove_account">Remove Account</a>
  <h1>Welcome to your Flight Database, {{first_name}}!</h1>

  <form action="/post" method="POST">
    <h2>Search for flights</h2>
    <input type="text" placeholder="Departure" required />
    <input type="text" placeholder="Arrival" required /> </br>
    <input type="text" placeholder="Departure Date" required /> </br>
    <input type="checkbox" id="round-trip" name="round-trip" value="yes" onChange="toggleArriveDate();">
    <label for="one-way"> Round Trip?</label><br>
    <input style="visibility: hidden;" type="text" id="arrive_date" placeholder="Arrival Date" required /> </br>
    <br>
    <input type="submit" value=Search />
  </form>
  <table>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <th>Depart Time </th>
    <th>Arrival Date </th>
    <th>Arrival Time </th>
    <th>Flight Status</th>
    <th>Price</th>
    <th>Buy</th>


    {% for line in flights %}
    <tr>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_number']}}</td>
      <td>{{line['departure_date']}}</td>
      <td>{{line['departure_time']}}</td>
      <td>{{line['arrival_date']}}</td>
      <td>{{line['arrival_time']}}</td>
      <td>{{line['flight_status']}}</td>
      <td>{{line['price']}}</td>
      <td><a href="/buy">Purchase flight</a></td>
    </tr>
    {% endfor %}
  </table>

  <h2>View your flights</h2>
  <style type="text/css">
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <table>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <th>Depart Time </th>
    <th>Arrival Date </th>
    <th>Arrival Time </th>
    <th>Flight Status</th>
    <th>Price</th>
    <th>Cancel</th>


    {% for line in flights %}
    <tr>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_number']}}</td>
      <td>{{line['departure_date']}}</td>
      <td>{{line['departure_time']}}</td>
      <td>{{line['arrival_date']}}</td>
      <td>{{line['arrival_time']}}</td>
      <td>{{line['flight_status']}}</td>
      <td>{{line['price']}}</td>
      <td><a href="/cancel">Cancel flight</a></td>
    </tr>
    {% endfor %}
  </table>

  <h2>Previous Flights</h2>
  <table>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <th>Depart Time </th>
    <th>Review</th>

    {% for line in flights %}
    <tr>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_number']}}</td>
      <td>{{line['departure_date']}}</td>
      <td>{{line['departure_time']}}</td>
      <td><a href="/review">Review this flight</a></td>
    </tr>
    {% endfor %}
  </table>

</body>


</html>
