<html>

<head>
</head>

<body>
  <style type="text/css">
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <script>
    function toggleArriveDate() {
      arr = document.getElementsByClassName("return_date")
      for (var i=0; i<arr.length; i++) {
        if (arr[i].style.visibility == "hidden"){
          arr[i].style.visibility = "visible";
        } else {
          arr[i].style.visibility = "hidden";
        }
      }
    }
  </script>
  <br>
  <!-- <a href="/track_spending">Track My Spending</a> <br> -->
  <a href="/logged_out">Logout</a>
  <a href="/remove_staff_account">Remove Account</a>

  <h1>Welcome to your Flight Database, {{session['first_name']}}!</h1>

  <form  action="/sum_spending" method="GET">
  <input type="submit" value="Track your spending" />
  </form>

  <form action="/search_staff" method="POST">
    <h2>Search for flights</h2>
    <input type="text" name = "departure_airport" placeholder="Departure Airport"/>
    <input type="text" name = "arrival_airport" placeholder="Arrival Airport"/> <br>
    <input type="text" name = "departure_city" placeholder="Departure City"/>
    <input type="text" name = "arrival_city" placeholder="Arrival City"/> <br>
    <p> Departure Date <input name = "departure_date" type="date" placeholder="Departure Date" required /> <br></p>
    <input type="checkbox" id="round-trip" name="round-trip" value="yes" onChange="toggleArriveDate();">
    <label for="one-way"> Round Trip?</label><br>
    <p class ="return_date" style="visibility: hidden;" > Return Date <input name = "return_date" class="return_date" style="visibility: hidden;" type="date" placeholder="Return Date" /></p> <br>
    <br>
    <input type="submit" value=Search />
  </form>

  <table>
    <th>Departs</th>
    <th>Arrives</th>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <th>Depart Time </th>
    <th>Arrival Date </th>
    <th>Arrival Time </th>
    <th>Flight Status</th>
    <th>Price</th>
    <th>Buy</th>


    {% for line in searched_flights_1 %}
    <tr>
      <td>{{line['departure_airport']}}</td>
      <td>{{line['arrival_aiport']}}</td>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_number']}}</td>
      <td>{{line['departure_date']}}</td>
      <td>{{line['departure_time']}}</td>
      <td>{{line['arrival_date']}}</td>
      <td>{{line['arrival_time']}}</td>
      <td>{{line['flight_status']}}</td>
      <td>{{line['base_price']}}</td>
      <td><a href="/buy">Purchase flight</a></td>
    </tr>
    {% endfor %}
  </table>

  <table class = return_date style="visibility: hidden;" >
      <th>Departs</th>
      <th>Arrives</th>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <th>Depart Time </th>
    <th>Arrival Date </th>
    <th>Arrival Time </th>
    <th>Flight Status</th>
    <th>Price</th>
    <th>Buy</th>


    {% for line in searched_flights_2 %}
    <tr>
        <td>{{line['departure_airport']}}</td>
        <td>{{line['arrival_aiport']}}</td>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_number']}}</td>
        <td>{{line['departure_date']}}</td>
        <td>{{line['departure_time']}}</td>
        <td>{{line['arrival_date']}}</td>
        <td>{{line['arrival_time']}}</td>
        <td>{{line['flight_status']}}</td>
        <td>{{line['base_price']}}</td>
        <td><a href="/buy">Purchase flight</a></td>
    </tr>
    {% endfor %}
  </table>

  <h2>Your current and upcoming flights</h2>
  <style type="text/css">
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <table>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <!-- <th>Depart Time </th> -->
    <th>Arrival Date </th>
    <!-- <th>Arrival Time </th> -->
    <th>Flight Status</th>
    <th>Change Flight Status</th>


    {% for line in current_flights %}
    <tr>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_number']}}</td>
      <td>{{line['departure_date']}}</td>
      <!-- <td>{{line['departure_time']}}</td> -->
      <td>{{line['arrival_date']}}</td>
      <!-- <td>{{line['arrival_time']}}</td> -->
      <td>{{line['flight_status']}}</td>
      
      {% if(line['edit']) %}
      <td><a href="/change_flight_status">Change Flight Status</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  <h2>Your previous flights</h2>
  <table>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Date</th>
    <!-- <th>Depart Time </th> -->
    <th>Review</th>

    {% for line in previous_flights %}
    <tr>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_number']}}</td>
      <td>{{line['departure_date']}}</td>
      <!-- <td>{{line['departure_time']}}</td> -->
      <td>  <form  action="/review" method="GET">
        <input type="submit" value="Leave a review" />
        </form></td>
    </tr>
    {% endfor %}
  </table>

</body>


</html>
